*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#getWeather {
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #weatherContainer {
    margin-top: 20px;
    font-size: 18px;
  }